
@font-face{
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Regular.ttf");
}
@font-face{
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Bold.ttf");
    font-weight: bold;
}
@font-face{
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Italic.ttf");
    font-style: italic;
}
@font-face{
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

.loader {
    margin-top: 32px;
    border: 4px solid #ddd;
    border-top: 4px solid #666;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body {
    background: #eee;
    font-family: Roboto;
    overflow: hidden;
}

#left-side {
    overflow: scroll;
}

.stat-box {
    display: inline-block;
    width: 400px;
    border-color: #ccc;
    border-style: solid;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background: white;
}

.graph-box {

    height: 240px;
}

.bar-box {
    height: 50px;

}

.graph-title {
    font-size: 16px;
}


.graph-svg {
    width: 24rem;
    height: 13rem;
    margin: 0.5rem;
    border: 1px solid #ccc;
}

.bar-svg {
    width: 24rem;
    height: 4rem;
    margin: 0.5rem;
}

.line {
    fill: none;
    stroke-width: 2;
}

.bar-background-rect {
    margin-top: 10px;
    width: 390px;
    height: 10px;
    border-radius: 5px;
    background: #ccc;
    overflow: hidden;
}

.bar-progress-rect {
    margin: 2px;
    height: 6px;
    border-radius: 3px;
    position: relative;
}

.bar-number {
    float: right;
}

#right-side {
    background: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#chat-box {
    padding: 10px;
    margin-top: 5px;
    border-color: #ccc;
    border-style: solid;
    border-radius: 5px 5px 0 0;
    background: #eee;
    margin-bottom: 10px;
    min-height: 8rem;
    flex-grow: 1;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

#chat-input-container {
    border-radius: 1.25rem;
    background: #ddd;
    min-height: 2.5rem;
    margin-bottom: 10px;
    flex-direction: row;
}

#chat-input {
    border-style: none;
    font-size: 1rem;
    font-family: sans-serif;
    resize: none;
    padding: 4px;
    margin-left: 10px;
    width: auto;
    flex: 1;
    overflow-x: auto;
    overflow-y: hidden;
}


#chat-input-button {
    border: none;
    background: #666;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-right: 7.5px;
    margin-left: auto;
    align-self: top
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

textarea:active, textarea:focus, div:active, div:focus{
    outline: 0px !important;
    -webkit-appearance: none;
}

.chat-message {
    border-color: #ccc;
    border-style: solid;
    margin-bottom: 10px;
    padding: 10px;
    max-width: 16rem;
    background: #fff;
    overflow: wrap;
    overflow-wrap: break-word;
}

.chat-message-user {
    border-radius: 10px 0 10px 10px;
    margin-left: auto;
    margin-right: 0;
}

.chat-message-lm {
    margin-right: auto;
    margin-left: 0;
    border-radius: 10px 10px 10px 0;
}

#insights-container {
    display: flex;
    justify-content: center;

}

.insight-box {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /*
    width: 10rem;
    max-width: 10rem;*/
    height: 16rem;
}

.insights-container {
    margin-bottom: 10px;
}

.insight-box h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
}

.insight-icon {

    width: 50%;
    margin: 0 auto;
}

.lm-insight-text {
    font-size: 16px;
    overflow-y: auto;
    overflow-wrap: break-word;
    width: 9rem;
}

.insight-box:not(:last-child) {
    border-right: 2px solid #ccc;
}


