<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loss Grapher</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!--<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>-->
    <script src="{{ url_for('static', filename='socket.io.min.js') }}"></script>

</head>
<body>
    <div style="display: flex; height: 100vh;">
        <div id="left-side" style="flex:1; flex-grow:1;">

            <div id="bars-board"></div>
            <div id="graphs-board"></div>

        </div>

        <div id="right-side" style="flex:0; min-width: 24rem;">
                <div id="chat-box">
                    Chat!
                </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>