<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board - Traner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='socket.io.min.js') }}"></script>

</head>
<body>
    <div style="display: flex; height: 100vh;">
        <div id="left-side" style="flex:1; flex-grow:1;">
            <h2>Stat Board</h2>

            <div id="bars-board"></div>
            <div id="graphs-board"></div>

        </div>

        <div id="right-side" style="flex:0; min-width: 32rem;">
            <h2>AI Board</h2>
            <div id="feedback-container">

                <div id="feedback-observations" class="feedback-box">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368" class="feedback-icon">
                        <path d="M400-320q100 0 170-70t70-170q0-100-70-170t-170-70q-100 0-170 70t-70 170q0 100 70 170t170 70Zm-40-120v-280h80v280h-80Zm-140 0v-200h80v200h-80Zm280 0v-160h80v160h-80ZM824-80 597-307q-41 32-91 49.5T400-240q-134 0-227-93T80-560q0-134 93-227t227-93q134 0 227 93t93 227q0 56-17.5 106T653-363l227 227-56 56Z"/>
                    </svg>
                    <h3>Observations</h3>
                    <div id="lm-observations" class="lm-feedback-text">I see that your train loss graph is graphing train loss.</div>
                </div>

                <div id="feedback-explanation" class="feedback-box">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368" class="feedback-icon">
                        <path d="M476-280q21 0 35.5-14.5T526-330q0-21-14.5-35.5T476-380q-21 0-35.5 14.5T426-330q0 21 14.5 35.5T476-280Zm-36-154h74q0-17 1.5-29t6.5-23q5-11 12.5-20.5T556-530q35-35 49.5-58.5T620-642q0-53-36-85.5T487-760q-55 0-93.5 27T340-658l66 26q7-27 28-43.5t49-16.5q27 0 45 14.5t18 38.5q0 17-11 36t-37 42q-17 14-27.5 27.5T453-505q-7 15-10 31.5t-3 39.5Zm40 394L360-160H200q-33 0-56.5-23.5T120-240v-560q0-33 23.5-56.5T200-880h560q33 0 56.5 23.5T840-800v560q0 33-23.5 56.5T760-160H600L480-40ZM200-240h192l88 88 88-88h192v-560H200v560Zm280-280Z"/>
                    </svg>
                    <h3>Explanation</h3>
                    <div id="lm-explanation" class="lm-feedback-text">This is because you set it to graph train loss.</div>
                </div>

                <div id="feedback-suggestions" class="feedback-box">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368" class="feedback-icon">
                        <path d="M686-132 444-376q-20 8-40.5 12t-43.5 4q-100 0-170-70t-70-170q0-36 10-68.5t28-61.5l146 146 72-72-146-146q29-18 61.5-28t68.5-10q100 0 170 70t70 170q0 23-4 43.5T584-516l244 242q12 12 12 29t-12 29l-84 84q-12 12-29 12t-29-12Zm29-85 27-27-256-256q18-20 26-46.5t8-53.5q0-60-38.5-104.5T386-758l74 74q12 12 12 28t-12 28L332-500q-12 12-28 12t-28-12l-74-74q9 57 53.5 95.5T360-440q26 0 52-8t47-25l256 256ZM472-488Z"/>
                    </svg>
                    <h3>Suggestions</h3>
                    <div id="lm-suggestions" class="lm-feedback-text">You should keep allowing it to graph train loss.</div>
                </div>

            </div>
            Chat here!
            <div id="chat-box"></div>
            <textarea id="chat-input"></textarea>

        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>